#game {
    background-color: darkturquoise;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Quicksand', sans-serif;
    border: 3px solid darkolivegreen;
}



#game p {
    margin-left: 20px;
    color: lemonchiffon;
}

#game h1 {
    color: lemonchiffon;
    margin-left: 158px;
}

